/* =============
    Hero
============= */

.cyan-btn{
    margin-top: 35px;
}


#hero{
    margin-top: 110px;

    h1{
        font-size: 62px;
        color: white;
    }
    p{
        color: white;
    }
}