/* =============
    Navigation
============= */
a{
    text-decoration: none;
}

.logo{
    justify-content:flex-start
}

nav{
    ul{
        display: flex;
        justify-content: flex-end;
        li{
            list-style: none;
            margin-left: 25px;
            a:link, a:visited{
                color: white;
                font-size: rem-calc(14);
            }

            a:hover, a:active{

            }

        }

        .selected{
            color: #42B4EE;
        }
    }
}